<?xml version="1.0"?>
<menu>
 <item>
    <title>Ideas</title>
    <subitem>
      <title>Top UK Movies</title>
      <url>itunes.apple.com/gb/rss/topmovies/limit=100/xml</url>
      <classes>itunescontent</classes>
    </subitem>
    <subitem>
      <title>Top UK Movie Rentals</title>
      <url>itunes.apple.com/gb/rss/topvideorentals/limit=100/xml</url>
      <classes>itunescontent</classes>
    </subitem>
    <subitem>
      <title>Top Music UK</title>
      <url>itunes.apple.com/gb/rss/topalbums/limit=100/explicit=true/xml</url>
      <classes>itunescontent2</classes>
    </subitem>
    <subitem>
      <title>Top Music Videos</title>
      <url>itunes.apple.com/gb/rss/topmusicvideos/limit=100/explicit=true/xml</url>
      <classes>itunescontent2</classes>
    </subitem>
    <subitem>
      <title>Top Music Greece</title>
      <url>itunes.apple.com/gr/rss/topalbums/limit=100/explicit=true/xml</url>
      <classes>itunescontent2</classes>
    </subitem>
  </item>
  <item>
    <title>Top</title>
    <subitem>
      <title>Top Seeded Files</title>
      <url>http://thepiratebay.se/top/all</url>
      <method>extractmagnets</method>
      <classes>recents</classes>
    </subitem>
  </item>
  <item>
    <title>Video</title>
    <subitem>
      <title>Top Seeded Movies</title>
      <url>http://thepiratebay.se/top/201</url>
      <classes>recents</classes>
    </subitem>
    <subitem>
      <title>Top Seeded TV Shows</title>
      <url>http://thepiratebay.se/top/205</url>
      <classes>recents</classes>
    </subitem>
    <subitem>
      <title>Todays TV Shows</title>
      <url>ezrss.it/feed/</url>
      <classes>recent-tvshows</classes>
    </subitem>
    <subitem>
      <title>Top Seeded Porn Movies</title>
      <url>http://thepiratebay.se/top/501</url>
      <classes>recents</classes>
    </subitem>
  </item>

  <item>
    <title>Applications</title>
    <subitem>
      <title>Top Seeded Windows Applications</title>
      <url>http://thepiratebay.se/top/301</url>
      <classes>recents</classes>
    </subitem>
    <subitem>
      <title>Top Seeded OSX Applications</title>
      <url>http://thepiratebay.se/top/302</url>
      <classes>recents</classes>
    </subitem>
  </item>
  <item>
    <title>Games</title>
    <subitem>
      <title>Top Seeded PC Games</title>
      <url>http://thepiratebay.se/top/401</url>
      <classes>recents</classes>
    </subitem>
  </item>

 
</menu>
