@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */



html {background: #f7f7f7; font-size: 100%}


body {width: 960px; margin: auto; font-family: Georgia, "Times New Roman", Times, serif; font-size: .875em; color: #666}

#header {height: 160px; background: url(customize/logo.png) no-repeat}

#social {width: 133px; height: 26px; float: right; margin-top: 8px}

#content {
	width: 620px;
	float: left;
	margin-bottom: 44px;
}

#sidebar {
	width: 260px; 
	padding: 20px;
	float: right;
	border: 1px solid #dcdcdc;
	margin-bottom: 44px
}

#sidebar h3, .sidebar_box {
	background: #eaeaea; 
	padding: 5px 10px; 
	margin-bottom: 15px;
	border: 1px solid #FFF;
	outline:1px solid #dcdcdc;
}



.navcontainer { width: 280px; margin-bottom: 25px }

.navcontainer ul{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.navcontainer a {

	padding: 10px 10px;
	width: 240px;

}

.navcontainer a:link, .navlist a:visited {
	text-decoration: none;
}

.navcontainer a:hover{
	color: #000;
}



#intro {
	border: 1px solid #FFF; 
	clear: both;
	padding: 20px;
	font-size: 1.4em; 
	line-height: 1.6em; 
	margin-bottom: 44px;
	outline:1px solid #dcdcdc;
	background: #eaeaea
}

#intro span {font-weight: 700}

#intro p {padding: 0}

#box_left {width: 300px; float: left; margin-bottom: 44px; text-align: justify}
#box_right {width: 300px; float: right; margin-bottom: 44px; text-align: justify}
#box_middle {margin-left: 330px; margin-right: 330px; margin-bottom: 44px; text-align: justify}

#box_left h3, #box_right h3, #box_middle h3 {
	background: #eaeaea;
	font-weight: normal;
	margin-bottom: 25px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: .08em;
	font-size: 1.4em;
	padding: 8px 15px;
	border: 1px solid #FFF;
	outline:1px solid #dcdcdc;
}

#footer {clear: both; padding: 10px; text-align: right; background: url(images/seperator.png) repeat-x top; font-size: .8em; color: #a3a3a3}




a {text-decoration: none; color: #740000}



h1 {font-size: 2em; font-weight: normal; padding-bottom: 10px}
h2 {font-size: 1.6em; font-weight: normal; padding-bottom: 6px}
h3, h4 {font-size: 1.4em; font-weight: normal}
h5, h6  {font-size: 1.2em}

p {line-height: 1.4em; padding-bottom: 25px}



.more {float: right; margin-right: 10px}




#gallery {
	
	overflow: auto;
	margin-left: -44px;
	padding-bottom: 18px;
	position:static;
}

#gallery ul li {
	width: 190px;
	height: 215px;
	padding-top: 17px;
	padding-left: 17px;
	float: left;
	background: url(images/thumb_bg.png) no-repeat;
	margin-left: 44px;
	margin-bottom: 28px;
}

.center {margin: auto;}

#no_gallery_found {width: 798; padding: 50px; margin: auto; background: red; border: 10px solid white}



ul.dropdown                         { position: relative; z-index:10; margin: auto; border-top: 1px solid #dbdbdb;
	                                  border-bottom: 1px solid #dbdbdb; height:36px; background: #eaeaea; margin-bottom: 44px}
									  
ul.dropdown li                      { float: left; zoom: 1;  }
ul.dropdown a:hover		            { color: ; }
ul.dropdown a:active                { color: ; }
ul.dropdown li a                    { display: block; padding: 9px 20px;
	 								  color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { color: #666; position: relative; }
ul.dropdown li.hover a              { color: #666; }



ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; background: #eaeaea;
                                      border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb}
ul.dropdown ul li 					{ font-weight: normal; background: url(images/dropdown.png);  color: #000; 
									  border-bottom: 1px solid #dbdbdb; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; background: none; padding: 9px 8px; width: 100%; display: inline-block; } 


ul.dropdown ul ul 					{ left: 100%; top: 0; z-index:300; border-top: 1px solid #dbdbdb }
ul.dropdown li:hover > ul 			{ visibility: visible; }


#results {
	margin-top:20px;
	   background-color:#09C;
line-height:27px;
	text-indent:10px; 
	font-family:arial, sans-serif;
	font-size:1em;
	color:#333;
	background: #fff;
}


#field {
	float:left;
	width:300px;
	height:27px;
	line-height:27px;
	text-indent:10px; 
	font-family:arial, sans-serif;
	font-size:1em;
	color:#333;
	background: #fff;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	border-right:none;
}


#delete {
	float:left;
	width:16px;
	height:29px;
	line-height:27px;
	margin-right:15px;
	padding:0 10px 0 10px;
	font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
	font-size:22px;
	background: #fff;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	border-left:none;
}

#delete #x {
	color:#A1B9ED;
	cursor:pointer;
	display:none;
}

#delete #x:hover {
	color:#36c;
}

#submit {
	cursor:pointer;
	width:70px;
	height: 31px;
	line-height:0;
	font-size:0;
	text-indent:-999px;
	color: transparent;
	background: url(images/ico-search.png) no-repeat #4d90fe center;
	border: 1px solid #3079ED;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#submit:hover {
	background: url(images/ico-search.png) no-repeat center #357AE8;
	border: 1px solid #2F5BB7;
}

.fclear {clear:both}

#progressbar {
height:10px;	
}

.movieposter {
width:90px;
height:130px;
background-repeat:inherit;
background-size: 100%;
}

.moviepostercont {
width:100px;
height:130px;
float:left;
margin:10px;
margin-bottom:60px;

}

.musicposter {
width:130px;
height:130px;
background-repeat:inherit;
background-size: 100%;
}

.musicpostercont {
width:130px;
height:130px;
float:left;
margin:10px;
margin-bottom:60px;

}